In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import category_encoders as ce
from category_encoders.ordinal import OrdinalEncoder
from sklearn import linear_model
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score

In [ ]:
train_data = pd.read_csv('./data/train_features.csv')
train_y = pd.read_csv('./data/train_labels.csv')

test_data = pd.read_csv('./data/test_features.csv')

In [3]:
#test_data.describe()

In [4]:
train_data_First_X = pd.DataFrame()
test_data_First_X = pd.DataFrame()


train_data_First_X['id'] = train_data['id']
train_data_First_X['amount_tsh'] = train_data['amount_tsh']
train_data_First_X['gps_height'] = train_data['gps_height']
train_data_First_X['kongitude'] = train_data['longitude']
train_data_First_X['latitude'] = train_data['latitude']
train_data_First_X['num_private'] = train_data['num_private']
train_data_First_X['region_code'] = train_data['district_code']
train_data_First_X['district_code'] = train_data['district_code']
train_data_First_X['population'] = train_data['population']
train_data_First_X['construction_year'] = train_data['construction_year']

test_data_First_X['id'] = test_data['id']
test_data_First_X['amount_tsh'] = test_data['amount_tsh']
test_data_First_X['gps_height'] = test_data['gps_height']
test_data_First_X['kongitude'] = test_data['longitude']
test_data_First_X['latitude'] = test_data['latitude']
test_data_First_X['num_private'] = test_data['num_private']
test_data_First_X['region_code'] = test_data['district_code']
test_data_First_X['district_code'] = test_data['district_code']
test_data_First_X['population'] = test_data['population']
test_data_First_X['construction_year'] = test_data['construction_year']

In [5]:
ce_ord = OrdinalEncoder(cols='status_group')
train_y['status'] = ce_ord.fit_transform(train_y)['status_group']
train_y.head(5)

      id    status_group  status
0  69572      functional       1
1   8776      functional       1
2  34310      functional       1
3  67743  non functional       2
4  19728      functional       1

In [6]:
#test_data_First_X.ffill()

In [7]:
#linear = linear_model.LogisticRegression()
linear = RandomForestClassifier(n_estimators=3000, max_depth=5000, n_jobs=2000)
#linear.fit(train_data_First_X,train_y[['id','status']])
#linear.score(train_data_First_X,train_y[['id','status']])

linear.fit(train_data_First_X,train_y['status'])
linear.score(train_data_First_X,train_y['status'])


#print('Coeff: ', linear.coef_)
#print('Inter: ', linear.intercept_)

1.0

In [8]:
#print('R2_score: ',r2_score(train_y[['id','status']],linear.predict(train_data_First_X)))

In [9]:
test_Output = linear.predict(test_data_First_X)

In [10]:
test_Output

array([1, 1, 1, ..., 1, 1, 2])

In [11]:
Submission_Output = pd.DataFrame()
Submission_Output['id'] = test_data_First_X['id']
Submission_Output['Status'] = list(test_Output)

In [12]:
Submission_Output['Status_Output'] = Submission_Output['Status'].replace( {1:'functional', 2:'non functional', 3:'functional needs repair'})# ,axis = 0)

In [13]:
Submission_Output['Status_Output'].value_counts()

functional                 8553
non functional             5248
functional needs repair     557
Name: Status_Output, dtype: int64

In [14]:
Subcsv = pd.DataFrame()
Subcsv['id'] = Submission_Output['id']
Subcsv['status_group'] = Submission_Output['Status_Output']

In [15]:
Subcsv.to_csv('./submit3.csv')

In [16]:
test_data_First_X.describe()

,id,amount_tsh,gps_height,kongitude,latitude,num_private,region_code,district_code,population,construction_year
count,14358.000000,14358.000000,14358.0000,14358.000000,1.435800e+04,14358.000000,14358.000000,14358.000000,14358.000000,14358.000000
mean,37232.859799,324.219996,653.6363,34.082414,-5.697584e+00,0.408971,5.713052,5.713052,187.055439,1298.251985
std,21382.890432,2533.367778,688.2721,6.564449,2.947444e+00,8.231859,9.794304,9.794304,476.065978,952.551852
min,10.000000,0.000000,-57.0000,0.000000,-1.156459e+01,0.000000,0.000000,0.000000,0.000000,0.000000
25%,18765.500000,0.000000,0.0000,33.062317,-8.453125e+00,0.000000,2.000000,2.000000,0.000000,0.000000
50%,37442.000000,0.000000,346.0000,34.898976,-5.087905e+00,0.000000,3.000000,3.000000,25.000000,1986.000000
75%,55909.250000,25.000000,1306.0000,37.221606,-3.314240e+00,0.000000,5.000000,5.000000,230.000000,2004.000000
max,74249.000000,200000.000000,2777.0000,40.325016,-2.000000e-08,669.000000,80.000000,80.000000,11469.000000,2013.000000